<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/">Home</a></li>
            <li> <a routerLink="/contact">Contact Us</a></li>
            <li> <a routerLink="/emp">Employee</a></li>
             <!-- <li> <a routerLink="/emplist">EmployeeList</a></li> -->
            <li><a routerLink="/form">ReactiveForm</a></li>
            <li><a routerLink="/User">User</a></li>
            <li><a routerLink="/binding">bindingsdemo</a></li>
            <li><a routerLink="/Ngstyle and Ngclass">ngclassdemo</a></li>
           

        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- <h1 style="background-color: blue;">I am root</h1>
<app-home></app-home>
<app-contact></app-contact>
<app-employee></app-employee>

<router-outlet></router-outlet> -->